@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family:'Courier New', Courier, monospace;
}

:root{
    --azul-claro: #8FC4D5;
    --blanco: #FFFFFF;
    --azul-oscurito: #22728c;
    --azul-notanclaro: #5CA0B6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-oscurito);
    color: var(--blanco);
    padding: 20px;
    border-radius: 10px 10px;
    
}

.ancor{
    display: flex;
    gap: 30px;
}

.color-ancor{
    color: var(--blanco);
    text-decoration: none;
}

.peliculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.pelicula{
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--azul-notanclaro);
    border-radius: 15px;
    border: inset black 5px;
}

.pelicula img{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-top: 25px;
    
}

.pelicula p{
    margin-top: 15px;
}

.subtitulos{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.body{
    background-color: var(--azul-claro);
    
}

.estreno{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estreno img{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
   
}
